<!DOCTYPE html>
<html>
  <head>
    <title>CEG4399 app -- Change Password</title>
  </head>

  <body>
      <div style="float:left;width:100%">
        <form action="{{ token }}" method="post">
            <div style="width:100%;">
              <a href="/login">Back to Login</a>
            </div>
            <p style="width:100%;float:left">
              Password requirements:
            </p>
            <ul style="width:100%;float:left">
              <li>Longer than 5 characters</li>
              <li>At least one lower case character</li>
              <li>At least one upper case character</li>
              <!-- <li>At least one special character(!,@,#,$,%,^,&,*)</li> -->
            </ul>
            <p>
                {{ pass_warning }}
            </p>
            <p style="width:40%;float:left">Password:&nbsp</p>
            <p style="width:60%;float:left">
              <input type="password" name="Password"></input>
            </p>
            <p style="width:40%;float:left">Confirm:&nbsp</p>
            <p style="width:60%;float:left">
              <input type="password" name="Confirm_Password"></input>
            </p>
            <div style="float:left;width:100%">
              <p style="margin-right:auto;margin-left:auto;width:30%">
                <input style="width:100%" type="submit" value="Change Password"></input>
              </p>
            </div>
        </form>
      </div>
  </body>
</html>