<!DOCTYPE html>
<html>
  <head>
    <title>CEG4399 app -- Create Account</title>
  </head>

  <body>
    <div style="width:100%;">
      <a href="/login">Back to Login</a>
      <div style="width:50%;margin-left:auto;margin-right:auto">
        <div style="padding:50px">
          <p style="width:100%;float:left">
              Username requirements:
          </p>
          <ul style="width:100%;float:left">
              <li>Username must be longer than 5 characters</li>
          </ul>
          <p style="width:100%;float:left">
              Password requirements:
          </p>
          <ul style="width:100%;float:left">
              <li>Longer than 5 characters</li>
              <li>At least one lower case character</li>
              <li>At least one upper case character</li>
              <!-- <li>At least one special character(!,@,#,$,%,^,&,*)</li> -->
          </ul>
          {{ msg }}
          {% from "_formhelpers.html" import render_field %}
            <form method=post action="create_account">
              <dl>
                {{ form.hidden_tag() }}
                <p>{{ email }}</p>
                {{ render_field(form.Email) }}
                <p>
                {{ user_exists }}
                </p>
                {{ render_field(form.User) }}
                <p>
                    {{ incorrect_password }}
                </p>
                {{ render_field(form.Password) }}
                {{ render_field(form.Confirm_Password) }}
                <p>
                    {{ age }}
                </p>
                {{ render_field(form.Age) }}
                {{ render_field(form.Name) }}                  
              </dl>
              <p><input type=submit value="Create Account">
            </form>

        </div>
      </div>
    </div>
  </body>
</html>
