<!DOCTYPE html>
<html>
  <head>
    <title>Nicolas's app</title>
  </head>

  <body style="width:100%">
    <a href="/logout">Log Out</a>
    <a href="/parameters" style="padding:0px 20px">Parameters</a>
    <div style="width:40%;margin-left:auto;margin-right:auto;">
        <h2>Hello {{ user }}!</h2>
        <p>{{ msg }}</p>
        <!--
        <p>Dogs are much cooler than cats</p>
        <ul>
            <li><a href='http://i.imgur.com/zbckbrC.jpg'>Awesome dog #1</a></li>
            <li><a href="http://i.imgur.com/yEn1jlN.jpg">Awesome dog #2</a></li>
            <li><a href="http://i.imgur.com/mjVq7S1.jpg">Awesome dog #3</a></li>
            <li><a href="http://i.imgur.com/tzInVIe.jpg">Awesome dog #4</a></li>
        </ul> -->

        <p>Submit Public Key:</p>
        {% from "_formhelpers.html" import render_field %}
        <form style="width:100%;padding-bottom:20px" method="post" action="logged_in">
          <dl>
            {{ form.hidden_tag() }}
            {{ render_field(form.public_key) }}
          </dl>
          <p><input type=submit value="Submit">
        </form>

        <table border="1" style="width:400px">
            <tr>
                <th>Name</th>
                <td>Key</td>
            </tr>
            {% for k in keys %}
            <tr style="width:400px">
                <td style="width:100px"> {{ k.username }}</td>
                <td style="width:300px"><div style="word-wrap: break-word;width:300px"> {{ k.public_key}} </div></td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </body>
</html>
