<!DOCTYPE html>
<html>
  <head>
    <title>Nicolas's app</title>
  </head>

  <body style="width:100%">
    <a href="/logged_in">Back to home</a>
    <div style="width:40%;margin-left:auto;margin-right:auto;">
      <div style="padding:50px">
        <p><a href="/password_update">Change Password</a>
        </p>
        <p>{{ msg }}</p>
        <form action="" method="post">
            <div style="float:left;width:100%">
              <p style="margin-right:auto;margin-left:auto;width:50%">
                <input style="width:100%" type="submit" value="Update Information">
              </p>
            </div>
            {{ form.hidden_tag() }}
            
            <p style="width:40%;float:left">Name:&nbsp</p>
            <p style="width:60%;float:left">
              <input value="{{name}}" type="text" name="name">
            </p>
            <p style="width:40%;float:left">Age:&nbsp</p>
            <p style="width:60%;float:left">
              <input min="0" max="150" style="width:40px"value="{{age}}"type="number" name="age">
            </p>
            <p>Check to allow the users to view public key</p>
            {% for k in names %}
            <p style="width:40%;float:left"> {{ k[0] }} </p>
            <p style="width:60%;float:left">
              <input {% if k[1]%}
                     checked
                     {% endif %} type="checkbox" name="{{k[0]}}">
            </p>
            {% endfor %}
        </form>
      </div>
    </div>
  </body>
</html>
