<!DOCTYPE html>
<html>
  <head>
    <title>Nicolas's app</title>
  </head>

  <body style="width:100%">
    <a href="/parameters">Back to parameters</a>
    <div style="width:40%;margin-left:auto;margin-right:auto;">
      <div style="padding:50px">
        <p>{{ msg }}</p>
        {% from "_formhelpers.html" import render_field %}
        <form action="" method="post">
            <p style="width:100%;float:left">
              Password requirements:
            </p>
            <ul style="width:100%;float:left">
              <li>Longer than 5 characters</li>
              <li>At least one lower case character</li>
              <li>At least one upper case character</li>
              <!-- <li>At least one special character(!,@,#,$,%,^,&,*)</li> -->
            </ul>
            <p>
                {{ pass_warning }}
            </p>
            
              <dl>
                {{ form.hidden_tag() }}
                {{ render_field(form.old_password) }}
                {{ render_field(form.Password) }}
                {{ render_field(form.Confirm_Password) }}
              </dl>
            </p>
            <div style="float:left;width:100%">
              <p style="margin-right:auto;margin-left:auto;width:30%">
                <input style="width:100%" type="submit" value="Change Password"></input>
              </p>
            </div>
        </form>
        </form>
      </div>
    </div>
  </body>
</html>
